@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To the AnimalShelter Management App</h2>
    <p>To use the app you need to log in first, which you can do at the top right. After that you can click on any of the links at the top to access different
    database tables.</p>
</div>
