@model Core.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1>Create Comment</h1>

<h4>@await Component.InvokeAsync("AnimalNameById", new {animalId = Model.AnimalId})</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <textarea asp-for="CommentText" class="form-control" ></textarea>
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <input asp-for="CommentMadeBy" type="hidden" />
            <input asp-for="AnimalId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Animal" asp-action="Details" asp-route-id="@Model.AnimalId">Back to Animal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
