@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Welkom bij Animal Shelter Manager. U dient in te  <a asp-controller="Animal" asp-action="Index">loggen</a> om verder te gaan.</p>
</div>
