@model Core.Models.AnimalSubmission

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New AnimalSubmission</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <partial name="Edit_Create" model="Model" />
            </form>
        </div>
    <div class="col-md-6">
        <img src="~/img/good_heckin_boi.jpg" class="card-img" />
        <h5>Info</h5>
        <p>
            On this page you can fill out a form to submit an animal for adoption. You should fill in all the boxes so that we know as much as possible before we consider
            adopting your animal. After you've submitted the form you can view it under the "My Animal Submissions" tab. After we've looked at your submission we will contact
            you either for an appointment or for a denial of your submission.
        </p>
    </div>

    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
