@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the website for our animal shelter. Feel free to take a look at out animals, or to request/submit an animal for adoption.</p>
</div>
