@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adoption Request</h1>
    <h2 class="display-4">Succesfull</h2>
    <p>We will contact you soon!</p>
</div>
