@model AnimalShelterApplication.Models.AdoptionRequestViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<h4>AdoptionRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <input asp-for="AnimalId1" type="hidden" />
            <input asp-for="AnimalId2" type="hidden" />
            <input asp-for="AnimalId3" type="hidden" />
            <partial name="List" model="Model.AnimalsView" />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn-primary btn" />
                <a asp-action="Clear" class="btn-secondary btn">Clear Cart</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
